@charset "UTF-8";
/* CSS Document */

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    background-color: #0c101c;
}
.swiper-container {
    height: 100%;
    width: 100%;
}
.swiper-slide {
    display: flex;
    align-items: center;
}
.swiper-slide .cage {
    width: 66.67%;
    height: auto;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
	font-family: "Helvetica Neue";
}
.swiper-slide .cage .video-contaner{
	margin: 10px 0;
}
.swiper-slide .cage img,
.swiper-slide .cage video{
    width: 100%;
    height: auto;
	background-color: #fff;
}
.swiper-slide .cage h2 {
    font-size: 14px;
	font-weight: normal;
}
.swiper-slide .cage a {
    color: #fff;
	text-decoration:none;
	position: relative;
}
.swiper-slide .cage a:after{
	content: "";
	height: 1px;
	width: 100%;
	position: absolute;
	background-color: #fff;
	left: 0px;
	bottom: -2px;
}
.swiper-slide .cage .introl {
    position: relative;
}
.swiper-slide .cage .introl .role{
	font-weight: 300;
	padding-right: 6px;
}
.swiper-slide .cage .introl .link {
    position: absolute;
    right: 0;
    z-index: 1;
}
@media screen and (min-width:300px) and (max-width:900px){
	.swiper-slide .cage{
		width: 90%;
	}
	.swiper-slide .cage .introl .link{
		position: inherit;
		display: block;
		margin: 5px 0;
	}
}
