@charset "UTF-8";
button, fieldset, img {
    border: 0
}
a, a:active, a:hover {
    text-decoration: none
}
a:active, button {
    background-color: transparent
}
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0
}
blockquote, q {
    quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}
button, input, select, textarea {
    vertical-align: middle
}
input::-ms-clear {
display:none
}
button {
    cursor: pointer
}
body, button, input, select, td, textarea, th {
    font-size: 14px;
    line-height: 1.5;
    font-family: source-han-serif-sc, sans-serif;
    color: #666
}
.os_mac body, .os_mac button, .os_mac input, .os_mac select, .os_mac td, .os_mac textarea, .os_mac th {
    font-family: source-han-serif-sc, sans-serif
}
a {
    color: #444
}
address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: 400
}
article, aside, figcaption, figure, figure img, footer, header, hgroup, nav, object, section, video {
    display: block
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.clearfix:after, .clearfixDiv {
    display: block;
    visibility: hidden;
    content: ".";
    clear: both;
    text-indent: -9999px;
    height: 0
}
*, html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
img {
    vertical-align: top;
}
/* Swiper CSS */
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide .role {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 20px;
    text-align: center;
    z-index: 999;
    font-family: arial;
    color: rgba(255,255,255,.5)
}
.swiper-slide img {
    height: 85vh;
    width: auto;
}
